:root {
	--text: #e5e5e5;
	--background: #0a0a0a;
	--background-hover: rgba(255, 255, 255, 0.075);
	--surface: #1a1a1a;
	--surface-hover: rgba(255, 255, 255, 0.025);
	--border: #212121;
	--border-radius: 4px;
	--primary: #1d169c;
	--primary-hover: #2119b3;
	--success: #22c55e;
	--warning: #422c00;
	--danger: #6c0909;
	--danger-hover: #840b0b;
	--gray: #888;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	color: var(--text);
	background-color: var(--background);
	font-family: 'Roboto', sans-serif;
}

.toast {
	padding: 12px;
	background-color: var(--surface);
	border-radius: 4px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	width: var(--width);
	color: var(--text);
	line-height: 1.25;
	font-weight: 500;
	font-size: 0.875rem;
	letter-spacing: 0.25px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.toast[data-type='success'] {
	background-color: #0a391b;
}

.toast[data-type='info'] {
	background-color: var(--primary);
}

.toast[data-type='warning'] {
	background-color: var(--warning);
}

.toast[data-type='error'] {
	background-color: var(--danger);
}

.toast > div[data-icon] {
	display: flex;
	align-items: center;
	justify-content: center;
}
